extends layout

block append scripts
  link(rel='stylesheet', href='/stylesheets/qunit/qunit.css')
  script(type='text/javascript', src='/javascripts/qunit/qunit.js')

  script(type='text/javascript', src='/javascripts/test/unit/game.js')

block append content
  h1#qunit-header RPG Notepad JS Unit Tests
  h2#qunit-banner
  #qunit-testrunner-toolbar
  h2#qunit-userAgent
  ol#qunit-tests
  #qunit-fixture
