body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#header {
  background-color: #336;
  padding: 0.3em;
  margin: 0.3em 0;
}

#header h1 {
  font-size: 16px;
  font-weight: bold;
}
#header ul {
  list-style: none;
  display: inline;
}

#header ul li.right {
  float: right;
}

#header a {
  padding: 0.3em;
  color: #333;
  border-bottom: 2px dashed #003;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
}
#header a:hover {
  background-color: rgba(255, 255, 255, 0.95);
}

.flash {
  width: 100%;
  opacity: 0.75;
  clear: both;
}

.flash span {
  margin-right: .7em;
  float: left;
}

.flash .ui-corner-all {
  width: 30em;
  padding: 0 5px;
  margin: 2em auto 0 auto;
  opacity: 0.9;
  font-weight: bold;
  -moz-box-shadow: 0 0 8px #111;
  -webkit-box-shadow: 0 0 8px #111;
  box-shadow: 0 0 8px #111;
}


