!!!
html
  head
    block scripts
      link(rel='stylesheet', href='/stylesheets/jquery_ui/smoothness/jquery-ui-1.8.17.custom.css')
      link(rel='stylesheet', href='/stylesheets/style.css')

      //- jQuery
      script(type='text/javascript', src='/javascripts/jquery/jquery-1.7.1.min.js')
      //- jQueryUI
      script(type='text/javascript', src='/javascripts/jquery_ui/jquery-ui-1.8.17.custom.min.js')
      //- Underscore
      script(type='text/javascript', src='/javascripts/underscore/underscore_min_1_3_1.js')
      //- Backbone
      script(type='text/javascript', src='/javascripts/backbone/backbone_min_0_9_0.js')

    title= title

  body

    block header
      #header
        h1
          a(href='/') #{nameAndVersion(appName, version)}
        - if (typeof currentUser !== 'undefined')
          li.right
            a#logout(href='/sessions') Log Out
      !{flashMessages}

    block content

    block footer
